<div *ngIf="showSplash" class="splash">
  <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>      
      <div class="rect3"></div>      
      <div class="rect4"></div>      
      <div class="rect5"></div>      
      <div class="rect6"></div>
    </div>
</div>

<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="policia">
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <img src="assets/imgs/policia.png" style="display:block;width:70%;height:auto;margin-left:auto;margin-right:auto;" />
      <div id="menu-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>
            Informante Virtual
          </strong>
        </p>
      </div>
      <ion-list>
          <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            {{p.title}}
          </button>
        </ion-list>      
    </ion-content>
  </ion-menu>
  
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>